<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head %}
    <meta property="og:url" content="https://www.liftosaur.com{{ page.url | url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.liftosaur.com{{ og_image | url }}" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <div class="markdown-body">
      {% include menu %}
      <article class="post-container">
        <h1>{{ title }}</h1>
        <div class='content'>{{ content }}</div>
        <div class="back-link">
          <a href="{{ '/' | url}}">← Back</a>
        </div>
      </article>
    </div>
  </body>
</html>