<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arpit Batra" />
    <title>Liftosaur: Weight Lifting Tracking App - Blog</title>
    <link rel="stylesheet" href="/docs/assets/css/menu.css" />
    <link rel="stylesheet" href="/docs/assets/css/github-markdown.css" />
    <link rel="stylesheet" href="/docs/assets/css/pilcrow.css" />
    <link rel="stylesheet" href="{{ '/styles/blog.css' | url }}" />
  </head>
  <body>
    <div class="markdown-body">
      {% include menu %}
      <h1>Liftosaur Blog</h1>
      <ul class="posts">
      {% for post in collections.posts reversed %}
        <li class="post">
          <span class="post-title">
            {% if post.data.externalLink %}
              <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
            {% else %}
              <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            {% endif %}
          </span>
          <span class="post-date">
            - 
            {{ post.date | date: "%Y/%m/%d" }}
          </span>
        </li>
      {% endfor %}
    </ul>
    </div>
  </body>
</html>